[Unit]
Description=Studio service
After=network.target

[Service]
Type=simple
Restart=always
ExecStart=/usr/bin/python3 -m http.server 8000 --bind 0.0.0.0

[Install]
WantedBy=multi-user.target