[Unit]
Description=Studio service
After=network.target

[Service]
Type=simple
Restart=always
ExecStart=/root/container-svc/container-service-gin
ExecStartPre=/root/container-svc/generate_secret.sh
WorkingDirectory=/root/container-svc/

[Install]
WantedBy=multi-user.target