@import org.request.Employee
@(title: String, username: String, employee: Employee)

<!DOCTYPE html>
<html lang="en">
    <head>
        <title>@title</title>
        <meta charset="utf-8">
        <link rel="stylesheet" href="@routes.Assets.versioned("../../static/stylesheets/mini.css")">
        <link rel="stylesheet" href="@routes.Assets.versioned("../../static/stylesheets/main.css")">
        <script src="@routes.Assets.versioned("../../static/js/bundle.js")" type="text/javascript"></script>
    </head>
    <body>
        <div class="owner-page-block">
            <div class="left">
                <button class="left-to-btn" id="to-home-btn">Home</button>
                <button class="left-to-btn" id="to-new-empl-btn">New employee</button>
            </div>
            <div class="right">
                <p>Hello, @username!</p>
                <button id="logout-btn">Logout</button>
            </div>
            <div class="full-info-block">
                <h1>Watch full employee info</h1>
                <label><b>Id: </b>@employee.id</label>
                <label><b>First Name:</b> @employee.employee.name.firstName</label>
                <label><b>Middle Name:</b> @employee.employee.name.middleName</label>
                <label><b>Second Name:</b> @employee.employee.name.secondName</label>
                <label><b>Description:</b> @employee.employee.description</label>
                <label><b>Bank card number:</b> @employee.employee.card.number</label>
                <label><b>Bank card holder:</b> @employee.employee.card.cardholder</label>
                <label><b>Bank card cvv:</b> @employee.employee.card.cvv</label>
            </div>
        </div>
    </body>
</html>
