@import org.request.Employee
@(title: String, username: String, employee: Employee)

<!DOCTYPE html>
<html lang="en">
  <head>
    <title>@title</title>
    <link rel="stylesheet" media="screen" href="@routes.Assets.versioned("stylesheets/main.css")">
    <link rel="shortcut icon" type="image/png" href="@routes.Assets.versioned("images/favicon.png")">
  </head>
  <body>
    <h1>Watch full employee info</h1>
    <p>Hello, @username!</p>
    <script src="@routes.Assets.versioned("../../static/js/bundle.js")" type="text/javascript"></script>
    <button id="logout-btn">Logout</button><br>
    <label>Id: @employee.id</label><br>
    <label>First Name: @employee.employee.name.firstName</label><br>
    <label>Middle Name: @employee.employee.name.middleName</label><br>
    <label>Second Name: @employee.employee.name.secondName</label><br>
    <label>Second Name: @employee.employee.name.secondName</label><br>
    <label>Bank card: @employee.employee.card.number @employee.employee.card.cardholder @employee.employee.card.cvv</label><br>
  </body>
</html>
