<!doctype html>
<html lang="en">

<head>
  <!-- Required meta tags -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

  <!-- Bootstrap CSS -->
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/mdb-ui-kit/3.9.0/mdb.dark.min.css"
    integrity="sha512-N+OclQllMs0JzalDNddiIqGSjYSRblWfaHp9Qc/IRipFI7CJtNUd4/usVCtgvhFpdIEgFeNHYD5k2C+6Lx7ebA=="
    crossorigin="anonymous" referrerpolicy="no-referrer" />
  <title>Hello, world!</title>
</head>

<body>
  <div style="display: flex;">
  <div style="height: 300px; width: 50%">
    <canvas id="pieChart"></canvas>
  </div>
  <div style="height: 300px; width: 50%">
    <canvas id="barChart"></canvas>
  </div>
  </div>
</body>
<script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/3.5.1/chart.min.js"
  integrity="sha512-Wt1bJGtlnMtGP0dqNFH1xlkLBNpEodaiQ8ZN5JLA5wpc1sUlk/O5uuOMNgvzddzkpvZ9GLyYNa8w2s7rqiTk5Q=="
  crossorigin="anonymous" referrerpolicy="no-referrer"></script>
<script>
  let ctx = document.getElementById('pieChart').getContext('2d');
  let pieChart = new Chart(ctx, {
    type: 'pie',
    data: {
      labels: [
        'Honor',
        'JBL',
        'Samsung'
      ],
      datasets: [{
        label: '% of devices',
        data: [10, 50, 40],
        backgroundColor: [
          'rgb(25, 99, 132)',
          'rgb(54, 162, 235)',
          'rgb(55, 205, 86)'
        ],
        hoverOffset: 10,
        borderWidth: 0
      }]
    },
    options: {
      responsive: true,
      maintainAspectRatio: false,
      plugins: {
            title: {
                display: true,
                text: '% of devices'
            }
        }
    }
  });
</script>
<script>
  let ctx1 = document.getElementById("barChart").getContext("2d");
  let barChart = new Chart(ctx1, {
    type: "bar",
    data: {
      labels: [
        "Honor",
        "JBL",
        "Samsung"
      ],
      datasets: [{
        label: "Time listened",
        data: [1000, 500, 480],
        backgroundColor: [
          'rgb(25, 99, 132)',
          'rgb(54, 162, 235)',
          'rgb(55, 205, 86)'
        ]
      }],
    },
    options: {
      responsive: true,
      maintainAspectRatio: false,
      scales: {
        yAxes: [{
          ticks: {
            beginAtZero: true
          }
        }]
      },
      plugins: {
            title: {
                display: true,
                text: 'Time listened'
            }
        }
    }
  })
</script>

</html>